#rj,
#sp {
  color: seagreen;
}

.hoje {
  color: darkred;
}

.amanha {
  color: darkblue;
}

a {
  text-decoration: none;
}

p {
  font-size: 20px;
}

body {
  font-family: Arial;
}
